@model IEnumerable<MyCourses.Models.Enrollments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MajorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EcrolledIndicator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentIndicator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MajorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EcrolledIndicator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentIndicator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TermCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.TermCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TermCode })
        </td>
    </tr>
}

</table>
